body {
  margin: 70px;
  background-color: #181818;
  border: solid red 5px;
  display:flex;
  flex-direction: row ;
  justify-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.musicList {
 display: inline-grid;
 grid-template-columns: auto auto auto ;
 border: solid blue 5px;
 
}

.card {
display: flex;
flex-direction: column;
padding: 50px;
border: solid green 5px;
}


           
.song {
  font-size: 14px;
  text-decoration: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  width: 300px;
}

.artist {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #a0a0a0;
  width: 300px;
}

.artist span:last-child span {
   display: none 
}


.album-link {

}

.images {
  position: relative;
  width: 50%;
}

image {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;

}

.image:hover {
  opacity: 0.3;
}

.images:hover .middle {
  opacity: 1;
}

.icons {
  position: absolute;
  bottom:120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
}


.heart {
  width:30px;
  height: 30px;
}

.play {
  width:60px;
  height: 60px;
}

.play:hover {
  transform: scale(1.6);
}


.dots {
  width:30px;
  height: 30px;
}

.artist-link {
  text-decoration: none;
  color: #a0a0a0;
}

.artist-link:hover {
  text-decoration: underline;
  color: #a0a0a0;

}


@media (min-width:1024px) {
  img {
    width: 200px;
    height:  200px;
  }

  .song {
    font-size: 14px;
    text-decoration: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 200px;
  }

  .artist {
    width: 200px;
  
  }

  .icons {
    width: 200px;
  }

  .heart {
    width:30px;
    height: 30px;
  }
  
  .play {
    width:60px;
    height: 60px;
  }
  
  .play:hover {
    transform: scale(1.6);
  }
  
}